flows (1).json
[{"id":"c3892205.69817","type":"tab","label":"Crop_Prediction","disabled":true,"info":""},{"id":"1d479e3f.5ca7e2","type":"tab","label":"IBM IOT","disabled":false,"info":""},{"id":"e7a7cd9.4d96e3","type":"ui_tab","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false},{"id":"cfa38c55.1fcd1","type":"ui_tab","name":"Crop Prediction","icon":"dashboard","disabled":false,"hidden":false},{"id":"6d48c6e7.fb0f88","type":"ui_group","name":"Enter the values","tab":"cfa38c55.1fcd1","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac29910c.0f7d2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9c7f3238.90b8","type":"ibmiot","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"7029755c.9db36c","type":"ui_group","name":"Enter the values","tab":"e7a7cd9.4d96e3","order":1,"disp":true,"width":"6","collapse":false},{"id":"63de8c2f.53cd94","type":"ui_form","z":"c3892205.69817","name":"","label":"","group":"6d48c6e7.fb0f88","order":1,"width":0,"height":0,"options":[{"label":"Nitrogenlevel","value":"Nitrogenlevel","type":"number","required":true,"rows":null},{"label":"Phosphoruslevel","value":"Phosphoruslevel","type":"number","required":true,"rows":null},{"label":"Potassiumlevel","value":"Potassiumlevel","type":"number","required":true,"rows":null},{"label":"Temperature","value":"Temperature","type":"number","required":true,"rows":null},{"label":"Humidity","value":"Humidity","type":"number","required":true,"rows":null},{"label":"PHofSoil","value":"PHofSoil","type":"number","required":true,"rows":null},{"label":"Rainfall","value":"Rainfall","type":"number","required":true,"rows":null}],"formValue":{"Nitrogenlevel":"","Phosphoruslevel":"","Potassiumlevel":"","Temperature":"","Humidity":"","PHofSoil":"","Rainfall":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":80,"y":100,"wires":[["329c58d3.7ae398","14f52da0.915a02"]]},{"id":"329c58d3.7ae398","type":"debug","z":"c3892205.69817","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":60,"wires":[]},{"id":"14f52da0.915a02","type":"function","z":"c3892205.69817","name":"Global Variables for form node","func":"global.set(\"Nitrogenlevel\",msg.payload.Nitrogenlevel)\nglobal.set(\"Phosphoruslevel\",msg.payload.Phosphoruslevel)\nglobal.set(\"Potassiumlevel\",msg.payload.Potassiumlevel)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Humidity\",msg.payload.Humidity)\nglobal.set(\"PHofSoil\",msg.payload.PHofSoil)\nglobal.set(\"Rainfall\",msg.payload.Rainfall)\nvar apikey=\"yY5mOhrzvbhAgC3f06rMdheGFGznc-aOCXkxm3qhf1e0\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":160,"wires":[["57249512.adbdfc"]]},{"id":"57249512.adbdfc","type":"http request","z":"c3892205.69817","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":100,"wires":[["7888c5ec.b232cc","f8e2ad83.347a1"]]},{"id":"7888c5ec.b232cc","type":"debug","z":"c3892205.69817","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"f8e2ad83.347a1","type":"function","z":"c3892205.69817","name":"PrePrediction","func":"var Nitrogenlevel=global.get(\"Nitrogenlevel\")\nvar Phosphoruslevel=global.get(\"Phosphoruslevel\")\nvar Potassiumlevel=global.get(\"Potassiumlevel\")\nvar Temperature=global.get(\"Temperature\")\nvar Humidity=global.get(\"Humidity\")\nvar PHofSoil=global.get(\"PHofSoil\")\nvar Rainfall=global.get(\"Rainfall\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [[\"Nitrogenlevel\", \"Phosphoruslevel\", \"Potassiumlevel\",\"Temperature\", \"Humidity\",  \"PHofSoil\",\"Rainfall\"]],\"values\": [[Nitrogenlevel,Phosphoruslevel,Potassiumlevel,Temperature,Humidity,PHofSoil,Rainfall]]}]} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":180,"wires":[["890f97da.c0a638"]]},{"id":"890f97da.c0a638","type":"http request","z":"c3892205.69817","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/ee2407b6-33ac-45e4-b202-711163b682b9/predictions?version=2021-07-16","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":120,"wires":[["8a21b39b.c393f","3c9727ad.27e108"]]},{"id":"8a21b39b.c393f","type":"debug","z":"c3892205.69817","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"3c9727ad.27e108","type":"function","z":"c3892205.69817","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":60,"wires":[["a9d3b55d.c28af8","ccccb8df.aed388"]]},{"id":"a9d3b55d.c28af8","type":"debug","z":"c3892205.69817","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":40,"wires":[]},{"id":"ccccb8df.aed388","type":"ui_text","z":"c3892205.69817","group":"6d48c6e7.fb0f88","order":2,"width":0,"height":0,"name":"","label":"Predicted crop for good yield:","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":120,"wires":[]},{"id":"3bcf3a4a.b54c66","type":"ui_form","z":"1d479e3f.5ca7e2","name":"","label":"","group":"7029755c.9db36c","order":4,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true,"rows":null},{"label":"children","value":"children","type":"number","required":true,"rows":null},{"label":"bmi","value":"bmi","type":"number","required":true,"rows":null}],"formValue":{"age":"","children":"","bmi":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":160,"wires":[["8d825449.099db8"]]},{"id":"6c978358.2299dc","type":"ui_dropdown","z":"1d479e3f.5ca7e2","name":"","label":"Select your sex","tooltip":"","place":"Select option","group":"7029755c.9db36c","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"female","value":"female","type":"str"},{"label":"male","value":"male","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":100,"y":220,"wires":[["55819bbc.e6dae4"]]},{"id":"c67f609c.9be8a","type":"ui_dropdown","z":"1d479e3f.5ca7e2","name":"","label":"Are you a smoker","tooltip":"","place":"Select option","group":"7029755c.9db36c","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"yes","value":"yes","type":"str"},{"label":"no","value":"no","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":300,"wires":[["b43e56d8.c7ac18"]]},{"id":"9d9c7fa0.7c173","type":"ui_dropdown","z":"1d479e3f.5ca7e2","name":"","label":"Select your region","tooltip":"","place":"Select option","group":"7029755c.9db36c","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"southeast","value":"southeast","type":"str"},{"label":"southwest","value":"southwest","type":"str"},{"label":"northeast","value":"northeast","type":"str"},{"label":"northwest","value":"northwest","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":110,"y":360,"wires":[["29d2c991.b11536"]]},{"id":"b2fd9490.91e288","type":"debug","z":"1d479e3f.5ca7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":40,"wires":[]},{"id":"8d825449.099db8","type":"function","z":"1d479e3f.5ca7e2","name":"gloabal variables for form node","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"children\",msg.payload.children)\nglobal.set(\"bmi\",msg.payload.children)\nvar apikey =\"UivuizwB6a9Lls_nw6D25Co8JKL1fMfF0e9Q-cO53ZW4\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":140,"wires":[["b2fd9490.91e288","e78f61d6.4ee97"]]},{"id":"55819bbc.e6dae4","type":"function","z":"1d479e3f.5ca7e2","name":"sex","func":"global.set(\"sex\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":240,"wires":[["37ddfa18.e88f66"]]},{"id":"b43e56d8.c7ac18","type":"function","z":"1d479e3f.5ca7e2","name":"smoker","func":"global.set(\"smoker\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":320,"wires":[["3545a706.bec2b8"]]},{"id":"29d2c991.b11536","type":"function","z":"1d479e3f.5ca7e2","name":"region","func":"global.set(\"region\",msg.payload.age)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":420,"wires":[["8a61cd12.68c0c"]]},{"id":"37ddfa18.e88f66","type":"debug","z":"1d479e3f.5ca7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":260,"wires":[]},{"id":"3545a706.bec2b8","type":"debug","z":"1d479e3f.5ca7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":360,"wires":[]},{"id":"8a61cd12.68c0c","type":"debug","z":"1d479e3f.5ca7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":480,"wires":[]},{"id":"e78f61d6.4ee97","type":"http request","z":"1d479e3f.5ca7e2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":160,"wires":[["235eb0b0.af653","73564ffa.086ea"]]},{"id":"235eb0b0.af653","type":"debug","z":"1d479e3f.5ca7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":60,"wires":[]},{"id":"73564ffa.086ea","type":"function","z":"1d479e3f.5ca7e2","name":"pre prediction","func":"var age = global.get(\"age\")\nvar sex = global.get(\"sex\")\nvar bmi = global.get(\"bmi\")\nvar children = global.get(\"children\")\nvar smoker = global.get(\"smoker\")\nvar region = global.get(\"region\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"age\", \"sex\", \"bmi\",\"children\", \"smoker\",  \"region\"]],\"values\": [[age,sex,bmi,children,smoker,region]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":240,"wires":[["4f6f60fa.450b4"]]},{"id":"4f6f60fa.450b4","type":"http request","z":"1d479e3f.5ca7e2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/f049629f-9105-488c-9d00-c31edfe18ddf/predictions?version=2021-06-28","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":160,"wires":[["783f34f4.f46b4c","93f21a9e.35e438"]]},{"id":"783f34f4.f46b4c","type":"debug","z":"1d479e3f.5ca7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":60,"wires":[]},{"id":"93f21a9e.35e438","type":"function","z":"1d479e3f.5ca7e2","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":300,"wires":[["3cc46917.6229f6","aa7176ee.ba2278"]]},{"id":"3cc46917.6229f6","type":"debug","z":"1d479e3f.5ca7e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":400,"wires":[]},{"id":"aa7176ee.ba2278","type":"ui_text","z":"1d479e3f.5ca7e2","group":"7029755c.9db36c","order":5,"width":0,"height":0,"name":"","label":"The premium will be ","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":240,"wires":[]}]